body {
  background-color: #f02626;
}

.App {
  font-family: "VT323", monospace;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-btn,
.clear-btn {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
  border: 1px #ccc solid;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  width: 100px;
  margin: 5px;
  box-shadow: 1px 1px 5px #ccc;
}
